
/*footer*/
.noir{
  background-color: black;
}

@media(min-width: 768px){
  .col-1-5{
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  }
  }
  
  footer{
  background-color: black;
  color: #a3a49e;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  
  }
  ul li a{
  color:#3c3d37;
  
  }
  
  ul li a:hover{
  color: white;
  text-decoration: none;
  }
  
  .social-icons {
  color: #fff;
  }
  
  .social-icons li {
  display: inline;
  
  }
  .social-icons a {
  color: #fff;
  text-decoration: none;
  }
  
  .fa-twitter {
  padding:8px 10px;
  margin:3px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  border:1px solid #a3a49e;
  
  }
  .fa-twitter:hover {
  background-color:white;
  color:black;
  
  }
  
  .fa-youtube {
  padding:8px 10px;
  margin:3px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  border:1px solid #a3a49e;
  
  }
  .fa-youtube:hover {
  background-color:white;
  color:black;
  
  }
  .fa-linkedin-in {
  padding:8px 10px;
  margin:3px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  border:1px solid #a3a49e;
  
  }
  .fa-linkedin-in:hover {
  background-color:white;
  color:black;
  
  }
  .fa-google-plus-g {
  padding:8px 9px;
  margin:3px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  border:1px solid #a3a49e;
  
  }
  .fa-google-plus-g:hover {
  background-color:white;
  color:black;
  
  }
  
  .fa-facebook-f{
  padding:8px 13px;
  margin:3px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  border:1px solid #a3a49e;
  }
  
  .fa-facebook-f:hover {
  background-color:white;
  color:black;
  }
$cinered : #FE4240;
//dylan
.bg-modal-login {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
 }

.bg-modal-register{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.bg-modal-contact{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.bg-modal-cookies {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
}

.modal-content-cookies {
    width: 100%;
    height: 200px;
    background: white;
    padding: 30px;
}
  
  .modal-content {
    width: 600px;
    height: 400px;
    background-color: #fff;
    opacity: 1;
    border-radius: 4px;
    display:flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.input-content {
    width: 50%;
    margin: auto;
}
.input {
    width: 250px;
    margin: 5px;
    padding: 5px;
}

.checkbox {
    margin: 10px 0px 10px 0px;
}

.link {
    margin-right: 10px;
}
  
  .button {
    margin: 15px 15px 15px 3px;
    text-decoration: none;
    font-size: 1.1em;
    font-family: monospace;
    padding: 5px;
    border: none;
    background-color: #FE4240;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    box-shadow: 6px 6px 25px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: 0.2s; }
  
  .button:hover {
    transform: scale(1.01); }
  
  .button:active {
    transform: scale(0.98); }

    .contact {
        border-left: #FE4240 solid 6px;
        padding: 10px;
        margin: 30px 0px 15px 0px;
        transform: translate(100px);
    }

    .form-control {
        margin: 10px;
    }

    textarea {
        height: 150px;
    }
  
    .btn-danger {
        margin: 10px;
        background-color: #FE4240;
        border: #FE4240;
    }

    .btn-danger:hover {
        background-color: #FE4240;
    }

    .list-social-network {
        list-style: none;
    }

    .btn-success {
        width: 125px;
        height: 50px;
        margin-top: 5px !important;
        margin-left: -129px !important;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: white;
        transition: all 1s ease;
        cursor: pointer;
        padding: 0px !important;
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }

    .btn-success:hover {
        margin-left: 50px;
        transform: translate(85px);    
    }

    .social-network {
         padding-left: 15px;
         padding-right: 10px;
         font-size: 25px;
    }

    #btn-twitter {
        background-color: #1DA1F2;
        border: #1DA1F2;
    }

    #btn-facebook {
        background-color: #3B5998;
        border: #3B5998;
    }

    #btn-google {
        background-color: #DB4437;
        border: #DB4437;

    }

    #btn-instagram {
        background-color: #262626;
        border: #262626;
    }

    .contact-formulary {
        height: 0px;
        overflow: hidden;
        transition: height 1.5s ease;
    }

    .contact-formulary-active {
        height: 300px;
    }

    td {
        width: 200px;
    }

    #user-message-content {
        width: 100px;
    }

    .send-message:disabled {
        opacity: 0;
    }

    .send-message {
        opacity: 0;
        transition: all 1.5s ease;
        border-radius: 0%;
    }

    .send-message-active {
        opacity: 1;
    }

    #contact-button {
        border-radius: 0%;
    }

    .test {
        position: fixed;
    }

    .table-content {
        font-weight: bold;
    }

  .button:active {
    box-shadow: 6px 6px 18px 2px rgba(0, 0, 0, 0.23);
    transform: scale(0.98); }
  
//valentin
.red {
    color:$cinered;
}
.navigation{
    position: absolute;
    width:100%;
    z-index: 1;
    .white{
        color: white;
    }
    h1{
        font-size:3rem;
        margin-right: 50px;
    }

    .redBtn{
        background-color: $cinered;
        border-radius:5px;
    }
    .greyBtn{
        background-color: gray; 
        border-radius:5px;
    }
    a{
        margin:10px;
    }
    .form-control{
        background-color: black;
        border-radius: 90px;
    }
}    
.jumbotron{
    margin:0;
    padding:0;
    img{
        filter: brightness(75%);
    }
    
}

.carousel-item{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.493);
}

.darker{
    background-color: rgba(0, 0, 0, 0.493);
}
.redbg{
    background-color:$cinered;
    .content{
        margin-left:40px;
        display: flex;
        flex-wrap: wrap;
        .tel{
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .btn{
            display:flex;
            .logbtn{
                background-color:black;
                color:white;
                padding:5px;
                margin:3px;
                border-radius: 5px;
            }
        }
    } 
}
.arrow{
    display:flex; 
    flex-wrap:wrap;
    align-content: right;
}
.arrowBtn{
    background-color: black;
    color:white;
    height: 20px;
    width:20px;
    margin:1px;
}
.presentation{
    background-color: black;
    padding:10px;
    color:white;
    width:auto;
}

.shopMovie{
    margin:0;
    padding:15px;
}
.debug{
    border:black solid 3px;
    margin:10px;
}
button.btn {
    width: 30%;
    height: 45px;
    border-radius: 0px;
    }
    
    .promise {
    color: #999;
    }
    
    .subscribe {
    display: flex;
    justify-content: center;
    }
    
    .sub-btn {
    margin-left: 5px;
    }
    
    .sub-input {
    height: 45px;
    border-radius: 0px;
    }

    .input-group {
        margin-bottom: 10px;
    }

@media only screen and (min-width:576px){
    .carousel-item{
        height: 500px;
    }
}
