/*footer*/
.noir {
  background-color: black; }

@media (min-width: 768px) {
  .col-1-5 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; } }

footer {
  background-color: #0d0d0d;
  color: #a3a49e;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0; }

ul li a {
  color: #3c3d37; }

ul li a:hover {
  color: white;
  text-decoration: none; }

.social-icons {
  color: #fff; }

.social-icons li {
  display: inline; }

.social-icons a {
  color: #fff;
  text-decoration: none; }

.fa-twitter {
  padding: 8px 10px;
  margin: 3px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #a3a49e; }

.fa-twitter:hover {
  background-color: white;
  color: black; }

.fa-youtube {
  padding: 8px 10px;
  margin: 3px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #a3a49e; }

.fa-youtube:hover {
  background-color: white;
  color: black; }

.fa-linkedin-in {
  padding: 8px 10px;
  margin: 3px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #a3a49e; }

.fa-linkedin-in:hover {
  background-color: white;
  color: black; }

.fa-google-plus-g {
  padding: 8px 9px;
  margin: 3px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #a3a49e; }

.fa-google-plus-g:hover {
  background-color: white;
  color: black; }

.fa-facebook-f {
  padding: 8px 13px;
  margin: 3px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #a3a49e; }

.fa-facebook-f:hover {
  background-color: white;
  color: black; }
